@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #441b9f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #5c29ca;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.50);
}

h1 {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 30px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: opacity 0.3s ease-in-out; /* vai acontecer quando passar ou tirar o mouse */
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #ff5cf7;
}

#paper {
    background-color: #00d5ff;
}

#scissors {
    background-color: #06ffa5;
}

.result {
    font-size: 22px;
}

p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#my-score {
    color: #9ee01a;
}

#score-machine {
    color: red;
}